body {
	background-image: url("https://github.com/Lpyshmily/Picture/blob/master/Landscape_0.jpg?raw=true");
}
h1 {
	text-align: center;
	color: white;
}
h2 {
	margin-left: 60%;
	color: white;
}
p {
	text-indent: 32px;
	font-size: 16px;
	line-height: 24px;
	color: white;
}
img {
	position: absolute;
	left: 50%;
	margin-left: -181px;
}